<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="../js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/additionalCss.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="../js/trigger.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
        <title>Asperio</title>
    </head>

    <body class="bg-danger">

    <div id="magician" style="margin-top: 30px;" class="container bg-round-white2">
        <div class="row mx-auto">                            
        <div class="col-sm ml-desktop"><h3 class="text-center p-2 font-weight-bolder mt-4">DOBOT M1</h3>
            <h5 class="mt-4 text-justify font-weight-bolder">Membantu anda bekerja secara efisien dan sempurna untuk berbagai pekerjaan.</h5>
            <p class="text-justify">Dobot M1 adalah robot lengan cerdas yang hemat biaya untuk industri kecil dan menegah. Dengan presisi tinggi, jangkauan kerja yang luas, 
                fungsi lengkap dan pengembangan lebih lanjut, ini memberikan flexibilitas kepada pengguna. M1 dapat mewujudkan berbagai fungsi pekerjaan prakitan seperti penyolderan
                pengenalan visual, dan Plug-in PCB, membantu membangun sistem industri yang cerdas. 
            </p>
        </div>
        <div class="col text-center p-4"><img src="../src/dobot/m1/dobot m1.png" width="250px"></div>
    </div>

    <div class="row">                            
      <div class="col">
        <div class="row mt-1 mb-4 p-4">
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/13.png" width="125px"> <p class="h6  font-weight-bolder">Pergerakan lebih cepat dan jangkauan lebih luas</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/14.png" width="125px"> <p class="h6  font-weight-bolder">maximal beban 1.5Kg</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/15.png" width="125px"> <p class="h6  font-weight-bolder">pemograman yang mudah dengan sofware dobot</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/16.png" width="125px"> <p class="h6  font-weight-bolder">Collision Detection<br>(aman untuk operator atau pengguna)</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/17.png" width="125px"> <p class="h6  font-weight-bolder">Hand teaching <br>(pengajaran robot dengan gerakan tangan)</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/m1/18.png" width="125px"> <p class="h6  font-weight-bolder">Dapat terhubung dan berkerjasama antar sejumlah dobot</p></div>
      </div>
      </div>
    </div>

    <h3 class="col text-center font-weight-bolder">ACCESSORIES</h3>
    <div class="text-center p-4">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class=" carousel-inner">
            
            
      <div class="carousel-item active">
        <div class="row align-items-center">
            <div class="col-md-8 py-2">
              <h5 class="text-left font-weight-bold dobot-text">Vision Kit</h5>
                <p class="text-justify dobot-text">Robot Vision Kit menyediakan seperangkat platform perangkat keras dasar untuk pengembangan sistem 
                  visi robot. Anda dapat menyiapkan kit penglihatan dengan Dobot Magician dan mulai mempelajari cara mengintegrasikan sistem penglihatan dengan 
                  sistem otomasi robot. Dengan sistem ini, Anda juga dapat melakukan penelitian tentang visi, simulasi algoritma kecerdasan buatan,
                   atau mengembangkan aplikasi industri berbasis visi.</p>
            </div>
            <div class="col-md-4 py-2">
                <img class="d-block img-fluid" src="../src/dobot/magician/vision magician.png" width="200px">
            </div>
        </div>
    </div>
            
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

  </div>
  <div class="text-center">
    <button type="button" onclick="window.open('../katalog.html', '_blank');" class="btn btn-outline-secondary btn-round bg-danger text-white">
      Learn More
    </button><br><br>
  </div>
</div>

  </body>
  </html>