<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="../js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/additionalCss.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="../js/trigger.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" />
        <title>Asperio</title>
    </head>

    <body class="bg-danger">

    <div id="magician" style="margin-top: 30px;" class="container bg-round-white2">
        <div class="row mx-auto">                            
        <div class="col-sm ml-desktop"><h3 class="text-center p-2 font-weight-bolder mt-4">DOBOT MAGICIAN PRO</h3>
            <h5 class="mt-4 text-justify font-weight-bolder">Mengurangi biaya, dan meningkatkan efisiensi dan kualitas</h5>
            <p class="text-justify">Dirancang agar flexibel untuk diterapkan, mudah digunakan, dan aman untuk berkolaborasi,Magician Pro membuat otomatisasi terjangkau dan dapat diakses
                untuk skenario produksi yang beragam dan batch kecil. Menampilkan muatan 750g, jangkauan maksimum 440mm, panduan tangan dan deteksi tabrakan, Magician Pro benar-benar cocok
                untuk aplikasi industri desktop ringan yang memerlukan penerapan dan pergantian cepat. 
            </p>
        </div>
        <div class="col text-center p-4"><img src="../src/dobot/magician-pro/MG400.png" width="350px"></div>
    </div>

    <div class="row">                            
      <div class="col">
        <div class="row mt-1 mb-4 p-4">
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/31.png" width="125px"> <p class="h6  font-weight-bolder">Pekerjaan ruang kecil</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/32.png" width="125px"> <p class="h6  font-weight-bolder">Pemrograman yang intuitif dan design interaktif</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/33.png" width="125px"> <p class="h6  font-weight-bolder">Waktu penerapan lebih pendek</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/34.png" width="125px"> <p class="h6  font-weight-bolder">Efisiensi debugging yang lebih tinggi</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/35.png" width="125px"> <p class="h6  font-weight-bolder">Aman terhadap Benturan</p></div>
          <div class="col-4 text-center"><img class="mt-2" src="../src/dobot/magician-pro/36.png" width="125px"> <p class="h6  font-weight-bolder">Lebih dari 1 moded gripper</p></div>
      </div>
      </div>
    </div>
    <div class="text-center">
      <button type="button" onclick="window.open('../katalog.html', '_blank');" class="btn btn-outline-secondary btn-round bg-danger text-white">
        Learn More
      </button><br><br>
    </div>
  </div>

  </body>
  </html>